* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/org/cd2h/n3c/Foundry/CohortDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/EnclaveMetricsFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/PhenoDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/ProjectRosterFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/util/APIRequest.java -text
src/main/java/org/cd2h/n3c/Foundry/util/LocalProperties.java -text
src/main/java/org/cd2h/n3c/Foundry/util/PropertyLoader.java -text
src/main/java/org/cd2h/n3c/Jira/ExternalDatasetRequestFetch.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#application/xml
src/non-packaged-resources/Model.clay -text svneol=unset#application/xml
src/non-packaged-resources/cohort_comorbidity_data.sql -text
src/non-packaged-resources/dashboard_map_data.sql -text
src/non-packaged-resources/jira.sql -text
src/test/java/org/cd2h/n3c/Foundry/README.txt -text
src/test/resources/README.txt -text
