* text=auto !eol
/.classpath -text svneol=unset#application/xml
/.project -text svneol=unset#application/xml
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text svneol=unset#application/xml
.settings/org.eclipse.wst.common.project.facet.core.xml -text svneol=unset#application/xml
.settings/org.eclipse.wst.validation.prefs -text
.settings/org.maven.ide.eclipse.prefs -text
/pom.xml -text svneol=unset#application/xml
src/main/java/org/cd2h/n3c/ConceptSet/Generator.java -text
src/main/java/org/cd2h/n3c/ConceptSet/Indexer.java -text
src/main/java/org/cd2h/n3c/ConceptSet/Publisher.java -text
src/main/java/org/cd2h/n3c/Foundry/AchillesDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/CohortDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/ConceptSetFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/EnclaveMetricsFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/PedsDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/PhenoDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/ProjectRosterFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/QuestionDataFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/SiteStatusFetch.java -text
src/main/java/org/cd2h/n3c/Foundry/UserBindingFetch.java -text
src/main/java/org/cd2h/n3c/Jira/ExternalDatasetRequestFetch.java -text
src/main/java/org/cd2h/n3c/util/APIRequest.java -text
src/main/java/org/cd2h/n3c/util/HttpPostMultipart.java -text
src/main/java/org/cd2h/n3c/util/LocalProperties.java -text
src/main/java/org/cd2h/n3c/util/PropertyLoader.java -text
src/main/resources/META-INF/taglib.tld -text svneol=unset#application/xml
src/main/resources/fonts/FreeMono.ttf -text
src/main/resources/fonts/SourceCodePro-Black.ttf -text
src/main/resources/fonts/SourceCodePro-Regular.ttf -text
src/main/resources/fonts/Symbola.ttf -text
src/main/resources/images/n3c_logo.png -text
src/non-packaged-resources/Model.clay -text svneol=unset#application/xml
src/non-packaged-resources/cohort_comorbidity_data.sql -text
src/non-packaged-resources/concept_set.sql -text
src/non-packaged-resources/dashboard.sql -text
src/non-packaged-resources/dashboard_map_data.sql -text
src/non-packaged-resources/jira.sql -text
src/test/java/org/cd2h/n3c/Foundry/README.txt -text
src/test/resources/README.txt -text
